<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="./css/FolhaDeEstilo.css" rel="stylesheet">
</head>
<style>
    #cabecalho{
        background-image: url("./media/CabecalhoMenu2.png");
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 120px;
        padding-left: 120px;
    }
    body{
        background-image: url("./media/FundoCardapio.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    img{
        height: 100px;
        border-radius: 10%;
    }
    .cat2{
        padding-top: 100px;
        padding-bottom: 40px;
    }
    pre{
        font-family: Gotham;
    }
</style>
<body>
    <div id="cabecalho" class="d-flex justify-content-center align-items-center">
        <div class="col-sm-3" style="text-align: left; margin-top: 20px;" >
            <audio id="player" loop>
                <source src="./media/MusicaTema.mp3" type="audio/mp3">
            </audio>
            <div style="margin-left: 6%;">
                <button onclick="document.getElementById('player').play()" class="musica"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16"><path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/></svg></button> 
                <button onclick="document.getElementById('player').pause()" class="musica"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16"><path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"/></svg></button> 
                <button onclick="document.getElementById('player').volume += 0.1" class="musica"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16"><path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/><path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89z"/><path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/></svg></button> 
                <button onclick="document.getElementById('player').volume -= 0.1" class="musica"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-volume-down-fill" viewBox="0 0 16 16"><path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8"/></svg></button>
            </div>
            <div style="text-align: left;">
                <p style="color: white; font-size: 11px;">Use o player para uma experiência completa</p>
            </div>
        </div>
        <div class="col-sm-6" style="text-align: center;">

        </div>
        <div class="col-sm-3" style="text-align: center;">
            <a href="/" class="btn btn-primary botaoPreto" role="button" style="border-color: white; margin-top: 3px">Voltar</a><br>
        </div>
    </div>
    <div class="container" style="text-align: center;">
        <br>
        <div class="container cat1">
            <h1>Pratos Tradicionais</h1><br>
            <% let n = 0 %>
            <% produtos.forEach(function(prod) { %>
                    <% if (prod.categoria === "1"){ %>
                    <% if (n % 4 === 0) { %>
                        <div class="row">
                    <% } %>
                    
                    <div class="col">
                        <img src="<%= prod.img %>">
                        <pre><%= prod.nome %>
R$ <%= prod.preco %></pre>
                        <p></p>
                    </div>
                    
                    <% if ((n + 1) % 4 === 0 || (n + 1) === produtos.length) { %>
                        </div>
                    <% } %>
                    
                    <% n = n + 1 %>
            <% }}) %>
        </div>
        <div class="container cat2">
            <h1>Pratos Temáticos</h1><br>
        <% n = 0 %>
        <% produtos.forEach(function(prod) { %>
                <% if (prod.categoria === "2"){ %>
                <% if (n % 4 === 0) { %>
                    <div class="row">
                <% } %>
                
                <div class="col">
                    <img src="<%= prod.img %>">
                    <pre><%= prod.nome %>
R$ <%= prod.preco %></pre>
                </div>
                
                <% if ((n + 1) % 4 === 0 || (n + 1) === produtos.length) { %>
                    </div>
                <% } %>
                
                <% n = n + 1 %>
        <% }}) %>
        </div>

        
    </div>
    
    
</body>
</html>